<!DOCTYPE html>
<html>
<head>
  <title>rbot -- IMDb Login Successful</title>
  <style>
  body {
    font-family: sans-serif;
    font-size: 12px;
    color: #333;
  }
  label {
    font-weight: bold;
  }
  input {
    display: block;
    margin-bottom: 15px;
    width: 300px;
    color: #333;
    padding: 5px;
    font-size: 14px;
  }
  img.captcha {
    padding: 4px;
    border: 1px solid #f0f0f0;
    display: block;
  }
  </style>
</head>
<body>

  <h1>IMDb Login for <%= nick %> Succeeded!</h1>

  <p>You were successfully logged in, your user id is <%= user_id %>.</p>

</body>
</html>

